@model rupsayar.Models.VM.Tbl_Category_VM

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Product</h2>
<link href="~/AdminLTE/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

@using (Html.BeginForm("CategoryEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Update" class="btn btn-success" />
                <input type="button" onclick="confirmDelete()" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "../Admin/CategoryList")
</div>

<script>

    function confirmDelete() {
        var productId = $("#Id").val();
        Swal.fire({
            title: "Are you sure?",
            text: "You want to delete this category!",
            icon: "warning",
            confirmButtonText: 'Yes',
            showCancelButton: true,
            focusConfirm: false
        }).then((result) => {
            if (result.isConfirmed == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CategoryDelete", "Admin")",
                    data: { 'Id': productId },
                    cache: false,
                    success: function (response) {
                        if (response === 'success') {
                            Swal.fire(
                                "Success !",
                                "Category has been deleted.",
                                'success'
                            ).then(function () {
                                window.location.href = "/Admin/CategoryList";
                            })
                        }
                        else if (response === 'failed') {
                            Swal.fire(
                                "Internal Error",
                                "Oops, Category was not deleted.",
                                "error"
                            )
                        }
                    },
                    failure: function (response) {
                        swal(
                            "Internal Error",
                            "Oops, Category was not deleted.",
                            "error"
                        )
                    }
                });
            }
        });
    }
</script>